$breakpoint-sm: 320px;
$breakpoint-md: 768px;

$corDoTexto: #000000;
$corDoBtnConfirm: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
$corDoBtnDelete: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
$corDoBtnCancel: #E7EEFB;
$corDeFundo: #FFFFFF;
$corDeModalBlur: #FFFFFFCC;
$corDoBorderHeader: #D7DDE9;
$corDoBorderList: #EAECF0;
$corDentroDoCheckbox: #A0DCF6;
$corBordaCheckBox: #0796D3;
$corBoxShadowDoCheckbox: rgba(0, 112, 243, 0.3);
$corTextoApagado: #0000008A;
